@media screen and (min-width: 1200px) {
  .about {
    padding: 100px 100px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 50px;
  }
}

.about a {
  color: #efe845;
  text-decoration: underline;
}
